/* taille image */
img {
    width: 50px;
}


/* fenetre modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: #474e5d;
  padding-top: 50px;
}
/* les elements modal  */
.container {
  padding: 16px;
  text-align: center;
}
/* la fermeture "X"  modal*/
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}